body,
html,
.view {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}


.text-strong {
    font-size: 33px;
    padding: 0 10px;
}
.ico_apple {
    padding-right: 10px;
}
.navbar.scrolling-navbar .navbar-nav>li {
    margin-left: 20px;
}
.content {
    margin-top: 100px;
}
.card {
    margin-left: 20px;
    margin-top: 20px;
}